@{
    ViewBag.Title = "GetData";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Importing card data from Excel saved under \\RETEBREPORTS\Users\Administrator\Desktop\Automated Reports\SMS </p>
